.service{
    border: 2px solid red;
    margin: 25px;
    margin-top: 5px;
    padding: 15px;
    padding-top: 5px;
    border-radius: 10px;
    background-color: rgb(205, 255, 205);
}

.service img{
    width: 80%;
    margin-left: 10%;
}